* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff8f2;
  color: #3b2f2f;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #3b2f2f;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 80vh;
  background: url('img/b1.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #d4a373;
  border: none;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 50px;
  text-align: center;
}

.products h2 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* ABOUT */
.about {
  padding: 50px;
  text-align: center;
}

/* FOOTER */
footer {
  background: #3b2f2f;
  color: white;
  text-align: center;
  padding: 15px;
}
